{{ define "main" }}
  <main class="page">
    <div class="container">
      <div class="page-block">
        <div class="back">
          <a href="/" class="back-btn">
            <span class="icon" style="--icon: url('../img/icon/icon-arrow-left.svg');"></span>
            Back to homepage
          </a>
        </div>
        <h1>Privacy policy</h1>
        <div class="page-block__content content">
          <p><em>Last updated: {{ .Date.Format "January 2, 2006" }}</em></p>
          {{ .Content }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
