@use "../../vars" as *;

.button {
  width: 100%;
  transition: all .25s linear;
  font-family: 'SpaceMono';
  height: 60px;
  font-size: 20px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:focus {
    &:after {
      content: '';
      border: 4px solid var(--focus-ring);
      position: absolute;
      background: transparent;
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }
  }
  @media(max-width: $tablet) {
    height: 48px;

  }
}

.button-green {
  color: white;
  background: var(--accent);
  border: 1px solid transparent;

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--accent);
	  color: white;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--accent);
  }

  &[disbled] {
    opacity: .4;
    pointer-events: none;
  }
}

.button-white{
	color: var(--ink);
	border: 1px solid var(--ink);
	&:hover{
		color: var(--ink);
		background: var(--overlay-08);
	}
	&:active{
		background: var(--overlay-16);
	}
	&[disbled] {
		opacity: .6;
		pointer-events: none;
	}
}

.button-message{
  margin-right: 8px;
  &:before{
    width: 28px;
    height: 28px;
  }
}

.swiper-arrow{
  position: absolute;
  width: 56px;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  .icon{
    width: 24px;
    height: 24px;
    background: var(--ink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before{
      width: 12px;
      height: 12px;
      background: white !important;
    }
  }
}

.swiper-button-prev{
  left: 0;
  background: linear-gradient(135deg, var(--bg) 50%, rgba(255, 255, 255, 0.00) 100%);
  .icon{
    padding-right: 1px;
  }
}

.swiper-button-next{
  right: 0;
  background: linear-gradient(270deg, var(--bg) 50%, rgba(255, 255, 255, 0.00) 100%);
  .icon{
    padding-left: 1px;
  }
}

.swiper-button-disabled{
  display: none;
}

.button-subscribe{
  width: 149px;
  height: 40px;
  font-size: 16px;
}
