<div class="sidebar">
  <div class="sidebar-person">
    <div class="sidebar-person__container">
      <div class="sidebar-person__container-info">
        <div class="sidebar-person__avatar mb-16">
          <a href="/"><img src="/img/avatar.jpg" alt="avatar"></a>
        </div>
        <div>
          <div class="text-size-24 fw-700 family-mono mb-8 letter-1">Evgeny Zhdanov</div>
          <div class="text-size-16 mb-24 letter-0-5">
            Pragmatic software engineer. <br/>
          </div>
        </div>
      </div>
      <div class="sidebar-person__container-event">
        <a href="void(0)" class="button button-green mb-8" title="I welcome you in my subscriber's list" data-popup="#subscribe">Subscribe</a>
        <div class="sidebar-person__events">
          <a href="/cv/" title="Check my CV" target="_blank" class="button button-white sidebar-person__see">See CV ↗</a>
          <a href="mailto:evdev34@gmail.com?subject=Contacting%20from%20zhisme.com&body=Hi%20zhisme%2C%20I%20want%20to%20contact%20you%20about%20..." title="Email message to me" target="_blank" class="button button-white icon button-message"
                      style="--icon: url('../img/icon/icon-mail.svg');"></a>
        </div>
      </div>
    </div>
    <div class="social-items">
      {{ partial "socials.html" . }}
    </div>
  </div>
  {{ $pinned := where .Site.RegularPages "Params.pinned" true }}
  {{ if gt (len $pinned) 0 }}
    <div class="sidebar-posts">
      <div class="sidebar-posts__head">
        <div class="fw-700 letter-0-5">Pinned posts</div>
        <span class="icon" style="--icon: url('../img/icon/icon-pin.svg');"></span>
      </div>
      <div class="sidebar-articles swiper">
        <div class="swiper-wrapper">
          {{ range $pinned }}
            {{ partial "pinned-article-card.html" . }}
          {{ end }}
        </div>
        <button type="button" class="swiper-arrow swiper-button-next swiper-button-next-article">
          <span class="icon" style="--icon: url('../img/icon/icon-arrow-right.svg');"></span>
        </button>
      </div>
    </div>
  {{ end }}
</div>
