<a href="https://github.com/zhisme" title="Main activity" class="social-item-link social-item-link-black" target="_blank">
  <img src="/img/icon/icon-github.svg" alt="github">
</a>
<a href="https://stackoverflow.com/users/5347939/zhisme" title="Me giving back to community knowledge" class="social-item-link social-item-link-orange" target="_blank">
  <img src="/img/icon/icon-stackoverflow.svg" alt="stackoverflow">
</a>
<a href="https://www.linkedin.com/in/zhisme/" title="Connect with me on linkedin" class="social-item-link social-item-link-blue" target="_blank">
  <img src="/img/icon/icon-linkedin.svg" alt="linkedin">
</a>
<a href="https://x.com/intent/follow?screen_name=_zhisme" title="Connect with on x.com" class="social-item-link social-item-link-black" target="_blank">
  <img height="16" src="/img/icon/icon-x.svg" alt="x.com">
</a>
<a href="https://t.me/zhisme_ch" title="Telegram channel" class="social-item-link social-item-link-blackLight" target="_blank">
  <img src="/img/icon/icon-telegram.svg" alt="telegram">
</a>
<a href="https://www.youtube.com/@zh_rj_jams" title="Hobby activity. We do jams here" class="social-item-link social-item-link-red" target="_blank">
  <img src="/img/icon/icon-youtube.svg" alt="youtube">
</a>
