<footer>
	<div class="container">
		<div class="footer-container">
			<div class="footer-info">
				<div class="footer-info__top">
					<div class="text-size-24 fw-700 family-mono mb-8 letter-1">Evgeny Zhdanov</div>
					<div class="text-size-16 mb-24 letter-0-5">
            Thanks for reading. Stay tuned! <br/>
            <p> The source code is hosted on <a href="https://github.com/zhisme/blog" target="_blank" class="link-black">GitHub</a>.</p>
            {{ with .Site.GetPage "privacy-policy.md" }}
              <a href="{{ .RelPermalink }}" class="link-black">Privacy policy</a>
            {{ end }}
					</div>
				</div>
				<div class="social-items footer-social-items">
          {{ partial "socials.html" . }}
				</div>
			</div>
      <form action="{{ .Site.BaseURL | relURL }}tinylist/api/subscribe" method="POST" class="form-subscribe" onsubmit="handleSubmit(event, this)">
				<fieldset>
					<div class="form-item">
						<input type="text" class="input" placeholder="Enter your name (optional)" min="2">
					</div>
					<div class="form-item">
						<input type="email" class="input" placeholder="Enter your email" required>
					</div>
				</fieldset>
				<div class="agreed">
					<label for="agreed" class="agreed-label">By subscribing, you agree to our Privacy Policy</label>
				</div>
				<button class="button button-green button-subscribe" type="submit">
					Subscribe
				</button>
			</form>
		</div>
	</div>

  <script>
    async function handleSubmit(event, form) {
      event.preventDefault();

      const nameInput = form.querySelector('input[type="text"]');
      const emailInput = form.querySelector('input[type="email"]');

      const payload = {
        username: nameInput.value.trim(),
        email: emailInput.value.trim(),
      };

      try {
        const response = await fetch(form.action, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(payload)
        });

        if (!response.ok) {
          const errorData = await response.json();
          throw new Error(errorData.error.message || "Something went wrong");
        }

        const data = await response.json();
        console.log("Success:", data);
        flsModules.popup.open('#subscribe-success')

        form.reset();

      } catch (error) {
        console.error("Error:", error);
        alert("Failed to subscribe: " + error.message);
      }
    }
  </script>
</footer>
